+---------------+
|	SOMMENSPEL	|
+---------------+

INHOUD:
-Uitleg
-Opmerkingen
-Packages
-Conventies
-Resources

==============================

UITLEG:
- niveau keuze (easy, expert, geek)
- soort sommen keuze (tafels, optellen, ...) meerkeuze
- aantal (zolang er tijd is)
- tijd (vast)
- score opslaan en bekijken
- settings (geluid, kleur, letergrootte, ...)
- opgave tonen
- in grid willekeurig mogelijke oplossingen tonen waaruit men moet kiezen
- tijd die vooruitgang laat zien. Bij fout antwoord straftijd.
- niveaus verder ingedeeld in levels: easy: 1-3 ; expert: 4-6 ; geek: 7-9

Applicatie start
- startscherm
	- start (1)
	- instellingen (2)
	- top scores (3)
	
- start (1)
	- kies of maak nieuwe speler
	- weergave afgewerkte levels of vragen niveau
	- continue of replay (4)
	
- spelscherm (4)
	- algemene tijd begint
	- bij fout antwoord -5 seconden
	- bij goed antwoord punt bij
	- als genoeg juiste antwoorden wanneer tijd op is, volgende ronde
	- opslaan score
	
- instellingen (2)
	- 
	
- top scores (3)
	- weergave hoogste score van elke level. Klik op leven toont:
		- weergave top 10 scores op level: naam, aantal punten, datum
	- reset top scores

==============================

Opmerkingen:
X XmlPullParser gebruiken voor xml opslag? (zie lager) --> JSON ipv XML gebruikt
X Hoe zit het met levels? (zie game class)
-Waar worden mogelijke antwoordmogelijkheden gegenereerd? Level? En nieuwe klasse (AnswerChoice) nodig?

->VOORSTELLEN:
	-Brecht Sr. doet xml afhandeling (volledig highscore en score + overige opslag) 
				+ eventueel highscore scherm
	-Brecht Jr. doet level/opgave en mogelijkheden + eventueel game scherm
	-Patrick en Marco doen: basis schermen opbouw (prototype)-> zodoende we kunnen testen 
							+ Player + algemene flow + eventueel settings scherm

TODO:
- generateExercise is bugged voor /(te grote getallen) en mss ook *(te klein) -> BRECHT Jr.
- generatePossibleAnswers -> Jr.
- progressie toevoegen aan game -> volgend level -> Jr.?
- player aanmaken en selecteren -> patrick of Sr. ?
- highscoresscherm -> patrick of Sr. of marco?
- leveloverzichtscherm -> Jr. //patrick of marco?
- settingsscherm -> marco? -> misschien tijdelijk "credits tekst"?
- styles -> marco?

DONE:
- Jr.
	-> timer/loop toevoegen aan game
	-> tijd berekening en score (game class)
- Sr.

- Patrick

- Marco
	
==============================

PACKAGES
- userinterface
- utilities
	- XmlPullParser? (http://www.vogella.com/articles/AndroidXML/article.html)
- objectmodel Logic
	- Game
		- Time: int
		- CurrentExercise: Exercise
		- CompletedExercises: int
		- FailedExercises: int
		- CurrentLevel: Level
		- Score: Score
		- Game(Player, LevelIndex)
		- Game(Player)
		- CalculateScore()
	- Player
		- Name: string
		- Age: int
		- UnlockedLevelIndex: int
		- TotalTimePlayed: int
		- Player(Name, Age, ULI, TTP)
		- Player (Name, Age)
	- Settings
		- to be determined
	- Exercise
		- Question: string
		- Answer: double
		- Exercise(question, answer) -> bevat question en answer
	- Level
		- LevelIndex: int
		- MaxTime: int
		- PenaltyTime: int
		- CorrectAnswersNeeded: int
		- MinTotal: int
		- MaxTotal: int
		- Operands: string
		- CreateExercise()
		- Level(levelindex)
	- Score
		- Player: Player
		- LevelIndex: int
		- score: int
		- date: date
		- Score(Player, LevelIndex, Score, Date)
		- UpdateScore(quantity int)
	- HighScores (list of score)
		- Add(Score)
		- HighScores(source)
		- Reset()
		- GetTopScoresByLevel(levelindex, amount)
		- GetTopScores(amount)
		- GetTopScoresByPlayer(player, amount)
		- Sync(url)
	
==============================

CONVENTIES:
-Bij elke klasse volgens deze requirements worden de requirements bovenaan de klasse geplaatst. 
-->Hierbij worden de volgende tekens gebruikt:
	"-" -> zit in de requirement, maar nog niet in de klasse aanwezig (of slechts gedeeltelijk)
	">" -> zit in de requirement en is aanwezig in de klasse
	"0" -> zit niet in de requirement of is onduidelijk
	"X" -> verwijderd, zal niet overgenomen worden uit de requirement
	
==============================	

RESOURCES:
-http://www.vogella.com/articles/Android/article.html
-http://www.vogella.com/articles/AndroidXML/article.html
-http://developer.android.com/guide/topics/testing/testing_android.html
-http://developer.android.com/guide/developing/testing/testing_eclipse.html
-http://developer.android.com/reference/android/view/ViewGroup.html

Reeds in app:
-http://developer.android.com/reference/android/os/Handler.html (timer/gameloop)
-http://developer.android.com/guide/topics/resources/animation-resource.html
-http://developer.android.com/guide/topics/resources/localization.html
-http://www.warriorpoint.com/blog/2009/05/26/android-switching-screens-in-an-activity-with-animations-using-viewflipper/
-http://developer.android.com/reference/android/widget/ViewFlipper.html